// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Colour palette
$primary-color: #fdceb9;
$secondary-color: #123f2b; 
$accent-color: #ff715c;

// Gradient
$accent-to-primary-1: $accent-color;
$accent-to-primary-2: #ff886d;
$accent-to-primary-3: #ff9d80;
$accent-to-primary-4: #ffbba1;
$accent-to-primary-5: $primary-color;
