.button {
    text-decoration: none;
    padding: 8px 24px;
    border-radius: 8px;
    display: inline-block;
    font-weight: bold;
}

.button-orange {
    background-color: rgba($accent-color, 0.2);
    color: $accent-color;

    &:hover {
        color: white;
        background-color: $accent-color;
    }
}

.button-ghost-orange {
    color: rgba($accent-color, 0.8);
    border: -2px solid $primary-color;

    &:hover {
        color: $accent-color;
    }
}