.button {
    text-decoration: none;
    padding: 8px 24px;
    border-radius: 16px;
}

.button-orange {
    background-color: $accent-color;
    color: white;

    &:hover {
        color: $accent-color;
        background-color: white;
    }
}