.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 5vh;
  box-shadow: 2px 2px 16px rgba($secondary-color, $alpha: 0.1);
  position: sticky;
  top: 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link:hover {
  color: $accent-color;
}
