.quiz {
    padding: 0 30px 20px 30px;
    max-width: 960px;
    margin: 0 auto;
    
    ul {
      list-style:none;
      padding: 0;
      margin: 0;
    }
  }
  .quiz-question {
    font-weight: bold;
    display: block;
    padding: 30px 0 10px 0;
    margin: 0;
}
.quiz-answer {
    margin: 0;
    border-radius: 16px;
    padding: 10px;
    background:#f7f7f7;
    margin-bottom: 5px;
    cursor: pointer;
    vertical-align: middle;
    
    &:hover {
      background:#eee;
    }
    
    .feedback {
      color: rgb(201, 200, 200);
      font-size: 24px;
    }
    
    &.active {
      .feedback {
        color: $accent-color;
      }
    }

    &.correct {
        background-color: rgba($color: #5cff71, $alpha: 0.2);
        border-radius: #5cff71;
      
    }
   
    &.active.correct {
      .feedback {
        color: #5cff71;
      }
    }
    &.incorrect {
      background-color: rgba($color: $accent-color, $alpha: 0.2);
        border-color: $accent-color;
    }
  }

  