.progress {
    height: 40px;
    border-radius: 32px;
    font-size: 16px;

    .progress-bar {
        width: 20%;
        background-color: $primary-color;
        color: white;
    }

    .active-progress {
        box-shadow: inset 3px 4px 19px rgba($color: #000000, $alpha: .05);
        background-color: $accent-color;
    }
}

.stages-div {
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    background-color: rgba($color: $primary-color, $alpha: 0.2);
}