h2, h1, h3, p, li {
    color: $secondary-color;
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
}

h3 {
    opacity: 0.3;
    font-size: 14px;
}


.bold-text {
    font-weight: bold;
}

p, li {
    font-size: 16px;
}