<div data-stages-of-change-list-target="precdescription" class="d-none">
    <h1>Precontemplation stage</h1>
    <p>this stage is when patients do not have desire to change their behaviour</p>
</div>
<div data-stages-of-change-list-target="cdescription" class="d-none">cont stage</div>
<div data-stages-of-change-list-target="prepdescription" class="d-none">prep stage</div>
<div data-stages-of-change-list-target="actiondescription" class="d-none">action stage</div>
<div data-stages-of-change-list-target="maintdescription" class="d-none">maintenance stage</div>