<div class="p-4">
    <div data-stages-of-change-list-target="precdescription" class="d-none">
        <h2>Pre-contemplative stage</h2>
        <h3>Patient's perspective</h3>
        <p>At this stage, patients are not interested in change</p>
        <h3>Practioner's role</h3>
        <ul>
            <li>Raise doubt and increase the patient's perception of risks and problems with their current behaviour</li>
            <li>Provide harm reduction strategies</li>
        </ul>
        <h3>Example responses</h3>
        <ul>
            <li>What worries you about your smoking?</li>
            <li>What difficulties have you found that your drinking causes you?</li>
            <li>Do you feel worried about your weight?</li>
        </ul>
    </div>
    <div data-stages-of-change-list-target="cdescription" class="d-none">
        <h2>Contemplative stage</h2>
        <h3>Patient's perspective</h3>
        <p>At this stage, patient is able to consider the possibility of change but feels ambivalent</p>
        <h3>Practioner's role</h3>
        Weigh up the pros and cons of change with the patient and work on helping them tip the balance by:
        <ul>
            <li>Exploring their doubts and what the alternatives are</li>
            <li>Identifying reasons for change/risks of not changing</li>
            <li>Increasing the patient's confidence in their ability to change</li>
        </ul>
        <h3>Example responses</h3>
        <ul>
            <li>In what ways do you want your life to be different in 5 years?</li>
            <li>What are the advantages of reducing your drinking?</li>
            <li>What would be different in your life if you lost weight?</li>
            <li>When have you made a significant change in your life before? How did you do it?</li>
            <li>What strengths do you have that would help you make a change?</li>
        </ul>
    </div>
    <div data-stages-of-change-list-target="prepdescription" class="d-none">
        <h2> Preparation - Action stage</h2>
        <h3>Patient's perspective</h3>
        <p>At this stage, patient would like to change and is actively involved in taking steps towards the change</p>
        <h3>Practioner's role</h3>
        <ul>
            <li>Help the patient develop a realistic plan for making changes and how to take steps toward change</li>
        </ul>
        <h3>Example responses</h3>
        <ul>
            <li>What supports do you need to make this change?</li>
        </ul>
    </div>
    <div data-stages-of-change-list-target="maintdescription" class="d-none">
        <h2>Maintenance stage</h2>
        <h3>Patient's perspective</h3>
        <p>At this stage, patient is successfully managing action and preventing relapse </p>
        <h3>Practioner's role</h3>
        <ul>
            <li>Help the patient identify strategies to prevent relapse</li>
            <li>If applicable, recruit patients' friends or family members to act as support for this process</li>
        </ul>
    </div>
    <div data-stages-of-change-list-target="relapsedescription" class="d-none">
        <h2>Relapse</h2>
        <h3>Patient's perspective</h3>
        <p>At this stage, patient is learning from their experience</p>
        <h3>Practioner's role</h3>
        Patient relapse is a normal step in the process. It is important to be supportive and encourage your patient to try again. You can use this as an opportunity to re-evaluate how you can motivate your patient to achieve long term behaviour change.
        <ul>
            <li>Help the patient go through the processes of contemplation and action again while being supportive</li>
            <li>Determine what worked and what didn't work in the initial process for change</li>
        </ul>
    </div>
</div>
