<div class="timer" data-controller="timer">
    <p><span data-timer-target="minutes" class="timer-content"><%= start_min %></span>
    <span class="timer-content divider">:</span>
    <span data-timer-target="seconds" class="timer-content">00</span></p>
    <button type="button" data-timer-target="startButton" data-action="click->timer#control"><i class="fa-solid fa-play"></i></button>
</div>