<div class="champ-block">
    <div class="page-content">
        <h2>MI</h2>
        <div class="cloud-mirror">
            <div class="cloud cloud-correct">
                <i class="fa-solid fa-circle-check"></i>
                <p>When you imagine life without drugs, it is hard to picture, but you’re starting to wonder what this kind of change might be like</p>
            </div>

            <div class="cloud cloud-wrong">
                <i class="fa-solid fa-circle-xmark"></i>
                <p> I think you need to quit smoking because your test results show a rapid decline in health. I will write you a prescription for varenicline.</p>
            </div>
        </div>
        <%# MI quiz %>
        <%= render partial: "mi_quiz" %>
    </div>

    <div class="champ-col">
        
    </div>  
</div>