<div class="champ-block">
    <div class="page-content">
        <h2>Activity: "Observe the language"</h2>

        <p>The significance of language in communication is paramount for patient engagement and behavior change. By employing Motivational Interviewing techniques, such as OARS, health professionals can nurture a patient-centered approach, fostering trust and collaboration in their consultations to achieve positive and meaningful health outcomes.</p>

        <p>In this activity, we will have a group discussion where one volunteer presents their patient's notes, and together, we will explore ways to improve our consultation approach by focusing on language usage. The goal is to collaboratively identify areas for improvement and generate ideas for more effective future consultations with that patient.</p>

        <p>Please select one volunteer to share the patient's notes, focusing on key interactions and the language used during the consultation. The volunteer can also provide context, including the patient's concerns, goals, and any challenges encountered during the conversation. This will help us analyze and discuss specific instances where language played a crucial role in the consultation process.</p>

        <p>As the champion, encourage the group to actively participate and share their perspectives, drawing from their own experiences and knowledge of MI and OARS techniques. Facilitate a constructive dialogue where participants provide suggestions, examples, and insights on improving language use and enhancing patient-centered care. Additionally, as the champion, feel free to invite participants to ask their own questions based on their professional experience or use any of the provided ones to facilitate the discussion:</p>

        <ol>
            <li>What language did you notice being used during the consultation?</li>
            <li>Were there any specific phrases or responses that stood out to you?</li>
            <li>Considering MI and OARS techniques, what could have been done differently to enhance the conversation?</li>
            <li>How might alternative language choices have impacted the patient's engagement and motivation for behavior change?</li>
            <li>Based on what we've discussed, what specific strategies or questions could be used in future consultations with this patient to elicit change talk and enhance collaboration?</li>
        </ol>
  </div>

    <div class="champ-col">
        
    </div>  
</div>
<div class="navigation-buttons">
    <%= link_to "Back", group_path(@workshop, @prev_part), class: "button button-orange" %>
    <%= link_to "Next", group_path(@workshop, @next_part), class: "button button-orange" %>
</div>