<div class="champ-block">
    <div class="page-content">
        <h1>Welcome!</h1>
        <p>Welcome to the second part of our series of workshops designed to dive into the intricacies of behaviour change in patient care.</p>
        <p>You frequently see patients struggling with the challenges of behaviour modification in your regular clinical work. We cordially encourage you to examine the difficulties of your patients' journey to better lifestyles and your own as healthcare professionals present today.</p>
        <p>Our goal is to establish a welcoming environment where you can freely exchange experiences, identify related problems, and come up with potential solutions within your practice.</p>
        <p>In order to overcome the challenges that frequently hide in the shadows—such as understanding patient motivations, resolving health literacy gaps, or appreciating the richness of cultural diversity—we ask that you all work together to shed light on them.</p>
        <p>The goal of the workshop today is to find useful tactics that will enable you to support your patients' attempts at positive behaviour change more effectively.</p>
        <p>So let's set out on this exploration together, equipped with our combined knowledge and a shared desire to improve patient care. We can improve the lives of individuals we serve by discovering the secrets of enduring behaviour change together. Start your exploration now!</p>
        <p>This workshop is designed to last an hour, and there are no prerequisites to start — your unique experiences and insights are all that's required. However, access to a whiteboard or digital platform would be advantageous.</p>
    </div>
</div>
<div class="navigation-buttons">
    <%= link_to "Back", groupworkshops_path, class: "button button-orange" %>
    <%= link_to "Next", group_path(@workshop, @next_part), class: "button button-orange" %>
</div>