<div class="champ-block">
    <div class="page-content">
        <h2>Activity: "Exploring Misjudged Motivation"</h2>

        <p>In this second activity, we will delve into the topic of patients who may appear unmotivated, exploring the possibility of misjudged motivation. </p>

        <p>As healthcare professionals, it's important to recognise the need to identify potential barriers that may affect patients' preparedness for behaviour change, such as low health literacy. The goal of this group activity is to improve one's comprehension of patient motivation through discussions and shared experiences in order to provide a foundation for more efficient and sympathetic care.</p>

        <p>We invite either a new volunteer or the same volunteer from the first activity to share their notes on a patient encounter where motivation seemed lacking.</p>

        <hr>
        <p><span>Instructions</span></p>
        <ol>
            <li class="bold-text">Reflection on Patient Encounters (5 minutes):</li>
            <ul><li>Take a moment to individually reflect on past patient encounters where the patient appeared unmotivated to embrace behavior change.</li><li>Select one volunteer from the group who would like to share their patient's notes.</li></ul>
            <li class="bold-text">Patient's case (3 minutes):</li>
            <ul><li>We invite the chosen volunteer to share their notes on a patient encounter where motivation seemed lacking.</li></ul>
            <li class="bold-text">Group Discussion (7 minutes):</li>
            <ul><li>Reflect on whether the perceived lack of motivation could be due to underlying factors like poor health literacy, cultural differences, or other barriers.</li><li>Champion, if you are on time, please encourage other participants to share instances where they may have initially misjudged a patient's motivation but later discovered underlying reasons for their seeming lack of enthusiasm.</li></ul>
            <li class="bold-text">Exploring Obstacles and Empathy (5 minutes):</li>
            <ul><li>From your professional experience, what are potential obstacles faced by patients? Please discuss in the team.</li><li>Explore how approaching patients with empathy and cultural sensitivity can create a safe and supportive space for open communication.</li></ul>
            <li class="bold-text">Strategies for Empathetic Care (5 minutes):</li>
            <ul><li>Share and discuss strategies (e.g. the "teach-back" method) for recognizing and addressing misjudged motivation in patients.</li></ul>
            <li class="bold-text">Key Takeaways (3 minutes):</li>
            <ul><li>The champion, please summarise the key insights gained from the discussion and the importance of avoiding hasty judgments about patient motivation.</li></ul>
        </ol>
    </div>

    <div class="champ-col">
        <div class="timer" data-controller="timer">
            <p><span data-timer-target="minutes" class="timer-content">05</span>
            <span class="timer-content divider">:</span>
            <span data-timer-target="seconds" class="timer-content">00</span></p>
            <button type="button" data-timer-target="startButton" data-action="click->timer#control"><i class="fa-solid fa-play"></i></button>
        </div>
    </div> 
</div>
<div class="navigation-buttons">
    <%= link_to "Back", group_path(@workshop, @prev_part), class: "button button-orange" %>
    <%# <%= link_to "Next", group_path(@workshop, @next_part), class: "button button-orange" %>
</div>