<div class="champ-block">
    <div class="page-content">
        <h1>5As</h1>
        <p><i>Waiting for a video from Liz S</i></p>
        <iframe src="https://drive.google.com/file/d/1wwkM6IJdNhzOfk0R606QVR922pcH05WW/preview" width="640" height="480" allow="autoplay"></iframe>
    </div>

    <div class="champ-col">
        
    </div>  
</div>
<div class="navigation-buttons">
    <%= link_to "Back", group_path(@workshop, @prev_part), class: "button button-orange" %>
    <%= link_to "Next", group_path(@workshop, @next_part), class: "button button-orange" %>
</div>