<div class="champ-block">
    <div class="page-content">
         <%# MOTIVATION %>
        <h2>Motivation</h2>

        <p>Motivation is an essential aspect of patients' behavior change, and as health professionals, we often encounter the challenge of evoking motivation in our patients. However, misconceptions surrounding motivation can sometimes leave us feeling helpless in supporting them effectively.</p>

        <p>It is commonly believed that motivation is solely synonymous with excitement, high energy, or joy. While these feelings may accompany high motivation for some, for others it is not the case. Understanding the true essence of motivation is crucial in empowering patients to embark on their journey of change.</p>

        <p>Join us as we hear from Professor Liz Rieger, a distinguished clinical psychologist and researcher at The Australian National University. In this insightful video, Professor Rieger unravels the complexity of motivation, defining its cognitive nature and exploring the two fundamental components that drive behavior change.</p>

        <iframe width="1000" height="315" src="https://www.youtube.com/embed/7nc0XY8XOsU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        <%# HEALTH LITERACY %>
        <h2>Motivation and health literacy</h2>

        <p>The foundation of high-quality healthcare is effective communication, and patient outcomes are significantly influenced by <span>health literacy</span>. Systemic inequalities can substantially impact patients' health literacy, creating obstacles to understanding and obtaining crucial health information. Disparities in health outcomes may result from this, and patients may find it difficult to make well-informed choices regarding their care and communicate their confusion during consultations. Such behavious can often be misinterpreted as a lack of motivation to follow through with prescribed plans. </p>

        <p>It could be challenging for highly educated health practitioners to relate to people with low health literacy. Healthcare practitioners, however, can modify their communication techniques and provide personalised assistance by respecting the varied backgrounds and experiences of their patients. This eventually empowers people to take responsibility for their health journeys with confidence and understanding.</p>

        <p>Consider a patient who is given a customised meal plan to manage chronic disease and enhance overall health. You outline the suggested diet, highlighting the value of balanced meals, portion control, and healthy food selections. The patient nods in agreement throughout the consultation, but they don't appear to significantly alter their behaviour the following consultations. Are they not motivated, or do you have any indications they might not understand your treatment plan?</p>

        <p>To address this situation, the healthcare professional can utilise <span>the "teach-back" method</span>. You can ask the patient to describe the diet plan's main elements in their own words after you've explained it to them. For example, you might ask,<span class="example-response"> "Can you tell me how you plan to incorporate balanced meals into your daily routine?"</span></p>

        <p>Through the patient's response, the healthcare provider can identify any misunderstandings and offer further guidance. You might discuss portion sizes, suggest meal ideas, and explore strategies for overcoming potential obstacles to adhering to the diet plan.</p>

        <p>By employing the "teach-back" method, patients gain a clearer understanding of their medical plan, fostering a sense of importance in adhering to it for better health outcomes. Moreover, as patients develop confidence in their ability to make informed medical choices, they are more likely to take meaningful action towards sustaining their behaviour change. The "teach-back" method creates a powerful synergy that enhances patient engagement and sets them on a path to successful behavior change.</p>
    </div>

    <div class="champ-col">
        
    </div>  
</div>