   <%# Side-bar menu %>
<div class="workshop-menu" data-controller="wsh-menu">
    <div class="course-list">
        <ul>
            <li>Welcome</li>
            <li>Stages of Change</li>
            <li>5As</li>
            <li>Motivational Interviewing</li>
        </ul>
    </div>
    <div class="menu-toggle" data-wsh-menu-target="menuButton" data-action="click->wsh-menu#open" >
        <i class="fa-solid fa-chevron-right"></i>
    </div>
</div>

   
   <%# Page content %>
<div class="container-lg my-3">
    <%= render partial: "wsh1_part_#{@part}" %>
</div>